<div class="sidebar">
    <div class="logo-text">
        <img src="assets/logo.png" alt="UrbanShield Logo">
        <div class="text">
            <h4>UrbanShield</h4>
            <p>Stay Safe, Stay Informed</p>
        </div>
    </div>

    <div class="tabs">
        <div class="tab tab-active" data-page="dashboard">
            <i class="ri-home-4-line"></i>
            <p>Dashboard</p>
        </div>
        <div class="tab" data-page="weather">
            <i class="ri-cloud-line"></i>
            <p>Weather</p>
        </div>
        <div class="tab" data-page="air-quality">
            <i class="ri-windy-line"></i>
            <p>Air Quality</p>
        </div>
        <div class="tab" data-page="map">
            <i class="ri-map-2-line"></i>
            <p>Map</p>
        </div>
        <div class="tab" data-page="emergency">
            <i class="ri-alarm-warning-line"></i>
            <p>Emergency</p>
        </div>
        <div class="tab" data-page="alerts">
            <i class="ri-notification-3-line"></i>
            <p>Alerts</p>
        </div>
        <div class="tab" data-page="analytics">
            <i class="ri-bar-chart-box-line"></i>
            <p>Analytics</p>
        </div>
        <div class="tab" data-page="packing">
            <i class="ri-suitcase-line"></i>
            <p>Packing Assistant</p>
        </div>
        <div class="tab" data-page="favorites">
            <i class="ri-heart-line"></i>
            <p>Favorites</p>
        </div>
        <div class="tab" data-page="history">
            <i class="ri-history-line"></i>
            <p>History</p>
        </div>
        <div class="tab" data-page="settings">
            <i class="ri-settings-2-line"></i>
            <p>Settings</p>
        </div>
    </div>

    <div class="safety-score mt-auto">
        <p>Safety Score</p>

        <div class="circle">
            <h1 id="safetyScoreValue">0</h1>
            <p>/100</p>
        </div>   
         
        <div class="safety-zone">
            <i class="ri-checkbox-circle-fill me-1 text-success fs-6"></i>
            <p>You are in Safe Zone</p>
        </div>
    </div>
</div>